<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>家常菜</string>
		<key>icon</key>
		<string>02-菜谱分类图_03</string>
	</dict>
	<dict>
		<key>name</key>
		<string>特色菜</string>
		<key>icon</key>
		<string>02-菜谱分类图_05</string>
	</dict>
	<dict>
		<key>name</key>
		<string>早餐</string>
		<key>icon</key>
		<string>02-菜谱分类图_07</string>
	</dict>
	<dict>
		<key>name</key>
		<string>主食</string>
		<key>icon</key>
		<string>02-菜谱分类图_12</string>
	</dict>
	<dict>
		<key>name</key>
		<string>湘菜</string>
		<key>icon</key>
		<string>02-菜谱分类图_13</string>
	</dict>
	<dict>
		<key>name</key>
		<string>川菜</string>
		<key>icon</key>
		<string>02-菜谱分类图_14</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海鲜</string>
		<key>icon</key>
		<string>02-菜谱分类图_18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>汤</string>
		<key>icon</key>
		<string>02-菜谱分类图_19</string>
	</dict>
	<dict>
		<key>name</key>
		<string>素食</string>
		<key>icon</key>
		<string>02-菜谱分类图_20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>素食</string>
		<key>icon</key>
		<string>02-菜谱分类图_20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>素食</string>
		<key>icon</key>
		<string>02-菜谱分类图_20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>素食</string>
		<key>icon</key>
		<string>02-菜谱分类图_20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>素食</string>
		<key>icon</key>
		<string>02-菜谱分类图_20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>素食</string>
		<key>icon</key>
		<string>02-菜谱分类图_20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>素食</string>
		<key>icon</key>
		<string>02-菜谱分类图_20</string>
	</dict>
</array>
</plist>
